*{

margin: 0px;
padding: 0;


}

.mainPara{

font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
font-size: 70px;
margin: 20px;
line-height: 70px;
padding: 30px;
}
.aboutPara{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
    width: 70%;
    height: 10px;
    padding-left: 50px;
    
    }


    .colTwo{

height: 90vh;
background-color: #B1D0E6;
border-radius: 0 13px 13px 13px;
box-shadow:0 13px 11px #090909";


    }


    .paraRight{

font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
display: flex;
justify-content: center;
padding-top: 40%;



    }



    .carImg{

        height: 50%;
        width: 45vw;
        object-fit: contain;
        position: relative;
        right: 200px;




    }

    .btn{


margin: 10px;
color: white;

background-color: #B1D0E6;
    }

    .login{

background-color: #569DD0 !important;
color: white !important;
border: none;
padding: 10px;
margin: 10px;
width: 100px;
font-weight: bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;


    }

.twoH1{

display: flex;
justify-content: center;
padding-top: 100px;

}
.para2nd{


    display: flex;
    justify-content: center;
font-weight: bold;



}

.whiteCar{

height:40vh ;
width: 30vw;
object-fit: contain;

}

.car222{

display: flex;
justify-content: center;
gap: 30px;


}

.black{

height: 28vh;
width: 100%;
background-color: black;
}

.para111{
    padding-top: 30px;
    display: flex;
    justify-content: center;
color: white;
font-size: 50px;
font-family:Arial, Helvetica, sans-serif;

}

.para112{
    display: flex;
    justify-content: center;
color: white;
font-size: 25px;
font-family:Arial, Helvetica, sans-serif;

}

.para999{

    padding-top: 150px;
display: flex;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 30px;
}

.para888{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    
    }

.redCar img{

width: 100%;
height: 55%;

}

.ssimg{

height: 90vh;
width: 99%;
object-fit:contain;

}

.mainPara111{
display: flex;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 50px;
}
.mainPara222{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    }

   .main{


    background-color: gray;
   }

   .card1111{

display: flex !important;
justify-content: center !important;
gap: 10%;

   }

   .card-body{

width: 150% !important;

   }