/* *{


padding: 0;
margin: 0;

}




.container{

background-color: lightslategray;
height: 50vh;
width: 50vh;


} */




















body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    margin: 15px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}