body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:black;
  }

  input{


    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
  }
  button{
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    background-color:khaki;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
  }
  button:hover{

    background-color: rgb(179, 171, 106);
  }

  .main{

box-shadow: white 0px 5px 12px 5px;;
border-radius: 10px;
  }

  .mainH1 {

    color: #F5DEA8;

        
    font-family: "Playwrite GB S", cursive !important;
    font-optical-sizing: auto !important;
    font-weight: weight !important;
    font-style: normal !important;
    font-size: 50px !important;
    

  }

  h1{

font-family:'Times New Roman', Times, serif;
font-size: 50px;
color: khaki;

  }

  .micro{

color: white !important;
    font-size: 15px;
padding: 40px;
font-weight: bold;}


.micro a{
    color: rgba(255, 0, 0, 0.741) !important;
    text-decoration: none;
      color: inherit;
}
input {

  border: none  !important;
}